<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="h1">About me</h1>
    <div class="mb-0">
      <p>
        Hello my name is Phurba Gyalzen Sherpa and I am a Django developer. This
        is a project that I have created with some basic understanding of
        Django.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates
        culpa sapiente voluptatibus vel voluptate molestiae error fugiat, sit
        libero delectus.
      </p>
    </div>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, eum?
    </p>
  </body>
</html>
