<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body class="p-3 mb-2 bg-info text-white">
    <div class="p-3 mb-2 bg-white text-dark">
      <h1 class="p-3 mb-2 bg-primary text-white">About me</h1>
      <div class="p-3 mb-2 bg-light text-dark">
        <p>
          Hello my name is <strong><em>Phurba Gyalzen Sherpa</em></strong> and I
          am a <strong>Django developer</strong>. This is a website where our
          user(s) can generate random password according to their preferences.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates
          culpa sapiente voluptatibus vel voluptate molestiae error fugiat, sit
          libero. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Eveniet odit accusamus quas nihil facilis delectus corporis, magnam
          quasi nisi officiis, asperiores fugit quo voluptates. Exercitationem
          perferendis quas numquam non doloribus?Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Quae ratione eos necessitatibus? Quas
          molestiae quibusdam ab magni aperiam vitae? Sapiente, quisquam. Non,
          reiciendis magnam eveniet in eaque cum. Provident, non.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
          eum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam,
          modi delectus eveniet rerum minus dicta aspernatur labore alias? Eum
          aliquam fugiat voluptate dignissimos, iusto a qui animi repellat Lorem
          ipsum dolor sit amet consectetur, adipisicing elit. Quo minus non sunt
          debitis labore veritatis illo blanditiis placeat, distinctio a odio
          magnam repudiandae, ipsum doloribus accusantium deleniti molestiae
          iusto quos.
        </p>
      </div>
      <a href="{% url 'home' %}" class="btn btn-info">Home</a>
    </div>
  </body>
</html>
