<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About me</h1>
    <p>
      Hello my name is Phurba Gyalzen Sherpa and I am a Django developer. This
      is a project that I have created with some basic understanding of Django.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates culpa
      sapiente voluptatibus vel voluptate molestiae error fugiat, sit libero
      delectus.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, eum?
    </p>
  </body>
</html>
