<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body class="p-3 mb-2 bg-light text-dark">
    <nav class="navbar navbar-dark bg-info">
      <a href="{% url 'about' %}" class="btn btn-secondary">About</a>
    </nav>
    <br />
    <div class="container text-center">
      <div class="p-3 mb-2 bg-white text-dark">
        <h1 class="alert alert-primary">Generated password:</h1>
        <br />
        <h3 class="alert alert-success" role="alert">{{ password }}</h3>
        <br />

        <a href="{% url 'home' %}" class="btn btn-success">Home page</a>
        <a href="{% url 'password' %}" class="btn btn-primary">Next</a>
      </div>
    </div>
  </body>
</html>
